certifi==2021.5.30
charset-normalizer==2.0.4
giphypop==0.3
idna==3.2
oauthlib
PySocks==1.7.1
requests==2.26.0
requests-oauthlib==1.3.0
schedule==1.1.0
six==1.16.0
tweepy==3.10.0
urllib3==1.26.6
